/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@keyframes text-slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes text-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}

.animate-text-slide-up {
  animation: text-slide-up 1s ease-out forwards;
}

.animate-text-fade-in {
  animation: text-fade-in 1.5s ease-out forwards;
}
